@{
    ViewData["Title"] = "Product Details";
}


    <div class="background-banner">
        <img class="background-image" src="/images/1920x300.svg" alt="">
    </div>

<partial name="/Views/Partials/_SpecificProductPartial.cshtml" />

<partial name="/Views/Partials/_TabPartial.cshtml" />
<partial name="/Views/Partials/_RelatedProductsPartial.cshtml" />