@model ContactMessageViewModel
@{
    ViewData["Title"] = "Skicka kontaktmeddelande";
}


<section class="contact-form">
    <div class="container form-container">
        <div class="title">Write something</div>

        <form method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>


            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" type="text" class="form-group" onkeyup="completeNameValidationRequired(event)" autocomplete="off">
                <small><span class="error validationerror text-danger"></span></small>
                <small><span asp-validation-for="Name" class="error"></span></small>
            </div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" type="text" class="form-group" onkeyup="emailValidationRequired(event)" autocomplete="off">
                <small><span class="error validationerror text-danger"></span></small>
                <small><span asp-validation-for="Email" class="error"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" type="text" class="form-group" autocomplete="off">
                <small><span asp-validation-for="Phone" class="error"></span></small>
            </div>
            <div class="companyName name form-group">
                <label asp-for="CompanyName" class="form-label"></label>
                <input asp-for="CompanyName" type="text" class="form-group" autocomplete="off">
                <small><span asp-validation-for="CompanyName" class="error"></span></small>
            </div>


            <div class="mb-3 message form-group">
                <label asp-for="Message" class="form-label"></label>
                <textarea asp-for="Message" class="form-control textarea" rows="4" cols="20" onkeyup="numberOfCharacters(500)" ></textarea>
                <small><span class="error text-danger" id="errormessage"></span></small>
                <small><span asp-validation-for="Message" class="text-danger"></span></small>
            </div>

            <div class="terms form-checkbox-group">
                <label class="custom-checkbox">
                    Save my name, email in the this browser for the next time I comment.
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="form-btn">
                <button class="theme-button form-submit-btn">Submit</button>
            </div>
        </form>
    </div>
</section>