<div class="sale-banner">
    <div class="sale container">
        <div class="sale-product">
            <div class="card">
                <img class="card-image-large" alt="" src="/images/369x310.svg">

                <div class="card-information">
                    <h6 class="card-title">Apple Watch Series</h6>
                    <p class="card-price">$30.00</p>
                    <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
                </div>
            </div>
        </div>

        <div class="sale-card">
            <p class="ingress">UP TO SELL</p>
            <h4 class="sale-title">50% OFF</h4>
            <h6 class="sale-subtitle">Get The Best Price</h6>
            <p class="sale-info">
                Get the best daily offer et accusam et justo duo dolores et ea rebum. Stet clita
                kasd gubergren no sea taki
            </p>
            <a href="#" class="discover">Discover More</a>
        </div>

        <div class="sale-product">
            <div class="card">
                <img class="card-image-large" alt="" src="/images/369x310.svg">

                <div class="card-information">
                    <h6 class="card-title">Apple Watch Series</h6>
                    <p class="card-price">$30.00</p>
                    <a class="to-cart"><i class="fa-light fa-cart-arrow-down"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
